* {
all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles

.bar-main {
	color: #b0b4bc;
	background-color: rgba(0, 0, 0, 0.98);
	margin: 0px;
	font-size: 14px;
	font-family: Sans Regular ;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;


}	


button {
  background: transparent;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 1px;
  margin-bottom: 1px;
}

button:hover {
  background: #444;   /* highlight effect */
  color: #00ffcc;     /* change text color on hover */
 
}

